<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Referencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="fondocon">
  <ion-row>
    <ion-col>
      <h3>Mariana Cueva <ion-icon name="person-outline"></ion-icon></h3>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label>
      <b>Cargo:</b>&nbsp;&nbsp;&nbsp;&nbsp;Secretaria
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>Empresa:</b>&nbsp;&nbsp;&nbsp;&nbsp;Escuela Politécnica Nacional
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>Número:</b>&nbsp;&nbsp;&nbsp;&nbsp;0967845372
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-row>
    <ion-col>
      <h3>Sara Mejía <ion-icon name="person-outline"></ion-icon></h3>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label>
      <b>Cargo:</b>&nbsp;&nbsp;&nbsp;&nbsp;Enfermera
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>Empresa:</b>&nbsp;&nbsp;&nbsp;&nbsp;Ministerio de Salud
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>Número:</b>&nbsp;&nbsp;&nbsp;&nbsp;0957684683
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-row>
    <ion-col>
      <h3>Diana Bonilla <ion-icon name="person-outline"></ion-icon></h3>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label>
      <b>Cargo:</b>&nbsp;&nbsp;&nbsp;&nbsp;Analísta de Sistemas
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>Empresa:</b>&nbsp;&nbsp;&nbsp;&nbsp;Universidad Andina
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>Número:</b>&nbsp;&nbsp;&nbsp;&nbsp;0909387298
    </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  
</ion-content>
